{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid table-responsive">
    <h2>{{ bus.bus_num }} 버스 시간표</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" colspan="2">버스 정보</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">지역</th>
          <td>{{ bus.region }}</td>
        </tr>
        <tr>
          <th scope="row">버스 번호</th>
          <td>{{ bus.bus_num }}</td>
        </tr>
        <tr>
          <th scope="row">구간</th>
          <td>{{ bus.bus_start_point }} ~ {{ bus.bus_end_point }}</td>
        </tr>
        <tr>
          <th scope="row">시간표 업데이트 날짜</th>
          <td>{{ bus.update_date }}</td>
        </tr>
        <tr>
          <th scope="row">시간표 이미지</th>
          <td><a href="{{ bus.post_url }}">원본 게시글 바로가기</a></td>
        </tr>
        <tr>
          <td colspan="2"><img src="{{ bus.img_url }}" width="100%"></td>
        </tr>
      </tbody>
    </table>

  </div>
{% endblock content %}