{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <h2>막차 귀가 상담 요청</h2>
    {% if req_try %}
      {% if success %}
      <div class="alert alert-success" role="alert">
        {{ req_message }}
      </div>
      {% else %}
      <div class="alert alert-danger" role="alert">
        {{ req_message }}
      </div>
      {% endif %}
    {% endif %}
    <form action="." method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="InputName">이름</label>
        <input type="text" class="form-control" id="InputName" name="input_name" placeholder="이름 입력">
      </div>
      <div class="form-group">
        <label for="InputStartpoint">출발지</label>
        <input type="text" class="form-control" id="InputStartpoint" name="input_startpoint" placeholder="출발지 입력">
      </div>
      <div class="form-group">
        <label for="InputDestination">목적지</label>
        <input type="text" class="form-control" id="InputDestination" name="input_destination" placeholder="목적지 입력">
      </div>
      <button type="submit" class="btn btn-primary">요청하기</button>
    </form>
  </div>
{% endblock content %}
