{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">요청자</th>
          <th scope="col">출발지</th>
          <th scope="col">목적지</th>
          <th scope="col">요청 날짜</th>
          <th scope="col">요청 결과</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ req.id }}</th>
          <td>{{ req.user }}</td>
          <td>{{ req.startpoint }}</td>
          <td>{{ req.destination }}</td>
          <td>{{ req.request_time }}</td>
          <td>
          {% if req.finished %}완료
          {% else %}진행중
          {% endif %}
          </td>
        </tr>
      </tbody>
    </table>

    {% if reply_notfound %}
    <div class="card">
      <div class="card-body">
        아직 답변이 없습니다. 잠시만 기다려주세요.
      </div>
    </div>
    {% else %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">답변 번호</th>
          <th scope="col">답변 시간</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ rep.id }}</th>
          <td>{{ rep.reply_time }}</td>
        </tr>
        <tr>
          <td colspan="2">{{ rep.reply_content|linebreaks }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  </div>
{% endblock content %}